<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    <link rel='stylesheet' href='./../css/main.css'>
    <link rel="shortcut icon" href="https://elliot.sirv.com/favicon.ico" type="image/x-icon">
    <style>
        input:invalid {
            background: rgba(255, 0, 0, 0.459);
            color: white;
        }
        .hide {
            display: none;
        }
    </style>
</head>
<body>
    <div class="login">
        <div class="formsu">
            <h1>Sign Up</h1>
            <form action="/signup" method="POST">
                <label for="name">Name</label>
                <input autofocus pattern="^[a-zA-Z_ ]*$" minlength="3" title="Name should only be alphabetical and more than 4 letters" required name="name" autocomplete="off" type="text">
                <label for="email">Email-id</label>
                <input required name="email" autocomplete="off" minlength="5" pattern="[a-z0-9._%+-]+@([a-z]{3,})+\.[a-z]{2,}$" type="email">
                <label for="pass">Password</label>
                <input required id="pass" name="pass" autocomplete="off" type="password" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" title="Must contain atleast a lowercase, an uppercase, a number and a special character">
                <label for="cpass">Confirm Password</label>
                <input required id="cpass" name="cpass" autocomplete="off" type="password" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" title="Must contain atleast a lowercase, an uppercase, a number and a special character">
                <button id="btn" type="submit" class="hide">CREATE</button>
            </form>
            <% if (msg) { %>
                <p>
                    <%= msg %>
            </p>
                <% } %>
            <a href="/login">LOGIN</a>
        </div>
    </div>
    <script defer src="./../js/verify.js"></script>
</body>
</html>