// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.cont {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./../assets/bg.jpg');
}

.intro {
    flex: 1;
    width: 100%;
    color: white;

    h1 {
        font-size: 60px;
        text-align: center;
        text-decoration: underline;
        letter-spacing: 10px;
        margin: 50px 50px 10px;
    }

    h2 {
        font-size: 14px;
        text-align: center;
    }
}

.main {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

    .card {
        height: 400px;
        width: 300px;
        background: rgba(0, 0, 0, 0.575);
        // filter: blur(5px);
        border-radius: 36px;
        display: grid;
        place-content: center;
        transition: 300ms ease-in-out;

        a {
            text-decoration: none;
            color: #0f0;
            font-size: 30px;

            &:hover {
                color: red;
                transition: 300ms ease-in-out;
            }
        }

        &:hover {
            transform: scale(1.1) translateZ(2px) translateY(5px);
            transition: 300ms ease-in-out;
        }
    }
}


.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./../assets/bg2.jpg');
    position: relative;
    color: white;
}

.blur {
    height: 600px;
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 36px;
}

.form {
    background: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 400px;
    border-radius: 36px;
    background: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        margin: 100px 0px 30px;
        font-size: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;

        input {
            width: 70%;
            height: 30px;
            border-radius: 36px;
            padding: 0px 15px;
            font-weight: 700;
        }

        label {
            font-size: 18px;
        }
    }

    p {
        font-size: 20px;
    }

    a {
        margin: 50px;
        color: white;
        font-size: 20px;
    }

    button {
        padding: 10px 15px;
        border-radius: 36px;
        border: 3px solid rgb(22, 126, 22);
        font-size: 18px;

        &:hover {
            background: rgb(22, 126, 22);
            color: #fff;
        }
    }
}

.formsu {
    background: rgba(0, 0, 0, 0.7);
    height: 700px;
    width: 400px;
    border-radius: 36px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        margin: 50px 0px 20px;
        font-size: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 15px;

        input {
            width: 70%;
            height: 30px;
            border-radius: 36px;
            padding: 0px 15px;
            font-weight: 700;
        }

        label {
            font-size: 18px;
        }
    }

    p {
        font-size: 18px;
    }

    a {
        margin: 50px;
        color: white;
        font-size: 18px;
    }

    button {
        padding: 10px 15px;
        border-radius: 36px;
        border: 3px solid rgb(22, 126, 22);
        font-size: 18px;

        &:hover {
            background: rgb(22, 126, 22);
            color: #fff;
        }
    }
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('./../assets/bg2.jpg');
    color: #fff;

    nav {
        top: 0;
        position: sticky;
        background: black;
        color: white;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .basic-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: minmax(300px, 1fr);
        padding: 1rem;
    }

    .cards {
        /* height: 300px; */
        width: auto;
        border: 2px solid black;
        border-radius: 36px;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    input {
        text-align: center;
        background: none;
        border: none;
        color: #fff;
    }

    .add {
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        text-align: center;
    }

    .sh {
        background: none;
        border: none;
        color: red;
        cursor: pointer;
    }

    button {
        color: white;
        font-size: 20px;
        background: none;
        border: none;
    }

    .error {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    i {
        font-size: 30px;
    }
}

.redirect {
    background-image: url('./../assets/bg2.jpg');
    color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h1 {
        font-size: 60px;
        font-weight: 800;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 50px;
    }
}